@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
  /* Colour Pallete */
  --main-bg-color: #f8f8f8;
  --main-color: #b0281c;
  --menu-bg: #2f2f2f;
  --menu-text: #eaeaea;
  --input-border: #d2d2d2;
  --tabs-inactive: #f0f1f4;
  --box-border: #eaecef;

  --speed: 500ms;
}

html {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
  line-height: 0px;
}

:focus {
  outline: #b0281c;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 400;
  /*font-family: "Spectral", serif;
	font-size: 48px;
	color: black;*/
}

h2 {
  font-family: "San Francisco", Helvetica, Ariel, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: black;
}

h3 {
  font-family: "San Francisco", Helvetica, Ariel, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

input {
  border: var(--input-border);
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  box-sizing: border-box;
}

::placeholder {
  color: var(--input-border);
  font-family: "San Francisco", Helvetica, Ariel, sans-serif;
  font-size: 16px;
}

select {
  border: var(--input-border);
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

label {
  color: grey;
  font-family: "San Francisco", Helvetica, Ariel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  float: left;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Button1 {
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20;
  color: white;
  background-color: var(--main-color);
  padding: 16px;
  border-width: 2px;
  border-radius: 6px;
  border-color: var(--main-color);
  border-style: solid;
  height: min-content;
  transition: all 0.1s ease-in-out;
}

.Button1:hover {
  color: var(--main-color);
  background-color: transparent;
  cursor: pointer;
}

.Button1:focus,
.Button1:active {
  border-color: var(--main-color);
  outline: none;
}

.Button2 {
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20;
  color: var(--main-color);
  background-color: white;
  padding: 5px;
  border-width: 1px;
  border-radius: 6px;
  border-color: var(--main-color);
  border-style: solid;
  height: min-content;
  transition: all 0.1s ease-in-out;
}

.Button2:hover {
  color: white;
  background-color: var(--main-color);
}

.Button2:focus,
.Button2:active {
  border-color: var(--main-color);
  outline: none;
}

.form-box {
  background-color: white;
  padding: 70px;

  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.shadow-border {
  border-style: solid;
  border-width: 1px;
  border: #f1f1f2;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.03);
}

.row-50-l {
  max-width: 49%;
  float: left;
  margin-right: 5px;
}

.row-50-r {
  max-width: 49%;
  float: right;
}

/* Tabs */

.tab-list {
  border-bottom: 1px solid #eaecef;
  margin-bottom: 0px;
  text-align: left;
  padding-left: 0px;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 1.3rem 2rem;
  background-color: var(--tabs-inactive);
  margin-right: 5px;
  font-family: "San Francisco", Helvetica, Ariel, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.tab-list-active {
  background-color: white;
  border: solid var(--box-border);
  border-width: 1px 1px 0 1px;
  color: var(--main-color);
}

.tab-content {
  background-color: white;
  height: 100%;
  width: 100%;
  border: solid var(--box-border);
  border-width: 0 1px 1px 1px;
}

.table1 {
  margin: 0 2rem 2rem 2rem;
}

.myEvents1 {
  float: left;
  max-width: 49%;
  vertical-align: top;
  line-height: 1;
}

.myEvents2 {
  float: right;
  max-width: 49%;
  vertical-align: top;
}

.myEventsHead {
  height: 150px;
}

#designBoard {
  min-height: 568px;
  min-width: 320px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border: #f1f1f2;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  overflow: visible;
}

.container-width {
  width: 96%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Web page designer */

.addSection {
  border: 0px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  transition: all 0.2s ease-in-out;
}

.addSection:hover {
  transform: scale(1.15);
  cursor: pointer;
}

#plusDropIcon {
  position: absolute;
  right: 0px;
  top: -20px;
  transform: rotate(90deg);
  float: left;
}

#designBlockThumbnail {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

#designBlockThumbnail:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.Toastify__toast--success {
  background-color: #def2d5;
  color: #5e7256;
  border: 2px solid #bbd3b1;
  border-radius: 3px;
}

.Toastify__close-button--success {
  color: #5e7256;
}

.Toastify__progress-bar--success {
  background-color: #5e7256;
}

.fr-view {
  background-color: #fff;
}
