# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.DS_Store
/.DS_Store

node_modules

# our keys will be here in plain text, so make sure this isn't pushed to git
dev.js

combined.log
error.log
newrelic_agent.log

.vscode/
client/logfile
testing/