.container2 {
	padding: 0.5rem;
	margin: 0rem;
	display: flex;
	width: 100%;
	box-sizing: border-box;
}

.one2 {
	margin: 0.5rem;
	text-align: justify;
	max-width: 100%;
	overflow: hidden;
}

.two2 {
	margin: 0.5rem;
	min-height: 200px;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

/* Side by Side */
@media only screen and (min-width: 1001px) {
	.one2 {
		flex: 2;
	}

	.two2 {
		flex: 1;
		max-width: 550px;
		max-height: 600px;
	}
}

/* Over Under */
@media only screen and (max-width: 1000px) {
	.container2 {
		flex-direction: column;
	}

	.two2 {
		height: 350px;
	}
}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

#video-responsive-iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
