.title {
    margin-top: 5rem;
}

.event-details-box {
    margin-top: 4rem;
    margin-bottom: 6rem;
}

#event-cat, #event-time-zone {
    /* fixing flawed material UI CSS */
    background-color: white;
    padding-left: 6px;
    padding-right: 6px;
}

#event-cat-select, #event-time-zone-select{
  text-align: left;
}

#date-time-container {
    margin-bottom: 0px;
}

#primary-color {
    margin: 0 auto;
    min-width: 100%;
}

#hex-input {
    width: 25%;
    min-width: 90px;
    color: grey;
    font-family: Roboto, 'Helvetica Neue', Ariel, sans-serif;
    border-radius: 4px;
    margin-top: 1rem;
    text-align: center;
}

.react-colorful {
    height: 300px;
    min-width: 100%;
}

.react-colorful__saturation {
    border-radius: 3px 3px 0 0;
}

.react-colorful__hue {
    height: 30px;
    border-radius: 0 0 3px 3px;
}

#date-left {
    margin-right: 8px;
}

#date-right {
    margin-left: 8px;
}