.headerContainer {
  width: 100%;
  background-color: white;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.logo {
  height: 90px;
  margin: 10px 25px;
  float: left;
}

.mainContainer {
  background-color: #000000;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1 1 auto;
  position: absolute;
  top: 110px;
  left: 0;
}

.videoContainer {
  margin: 70px 10% 20px 10%;
}

.selectContainer {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#caption-select {
  text-align: left;
  color: white;
}

#caption-label {
  /* fixing flawed material UI CSS */
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  background-color: #000000;
}

#paragraph {
  display: inline-block;
  color: white;
  text-align: justify;
  font-family: PTSansRegular, Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.scotia-logo {
  width: 90%;
  max-width: 350px;
  float: left;
  margin-bottom: 150px;
}
