.billing-subtext {
    color: grey;
    margin-left: 30px;
}

.matrix-header {
    background-color: rgba(0, 0, 0, 0.05);
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-weight: 700;
}

.matrix-row-label {
    background-color: rgba(0, 0, 0, 0.05);
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-weight: 700;
}

.matrix-block {
    background-color: white;
    width: 100px;
    height: 100px;
    line-height: 100px;
    transition: all 0.1s ease-in-out;
}

.matrix-block:hover {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.matrix-cell-style {
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border: #d4d4d5;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.05);
    margin: 1px;
}