.branding-top-container {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px 1rem;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 0px;
}

.branding-button {
  color:var(--main-color);;
  transition: all 0.1s ease-in-out;
}

.branding-button:hover {
  color: #ffffff;
}
