.branding-top-container {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px 1rem;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 0px;
  width: 100%;
  position: relative;
}

.branding-button {
  color: #929292;
  transition: all 0.1s ease-in-out;
}

.branding-button:hover {
  text-decoration: underline;
  color: var(--main-color);
}
