.chatOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* previously 100vh */
  background-color: #efefef;
  border: 1px solid #efefef;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  height: 100%;
  width: 100%;
}

.display-none {
  display: none;
}

/* Info Bar */

.infoBar {
  background: #b0281c;
  height: 60px;
}

.infoBar.grey {
  background: #7d7a7a;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.chatText {
  color: white;
  font-family: Roboto, "Helvetica Neue", Ariel, sans-serif;
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.info-bar-icon {
  height: 28px;
  margin-right: 12px;
}

.onlineIcon {
  margin-right: 5%;
}

/* Messages */

.messages {
  padding: 0; /* was 5% 0 */
  overflow: auto;
  flex: auto;
}

/* Message */

.messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 7px 11px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-family: Roboto, "Helvetica Neue", Ariel, sans-serif;
  font-weight: 400;
  font-size: 15px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 6px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", Ariel, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #828282;
  letter-spacing: 0.3px;
  margin: 0;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: black; /* was #353535 */
}

.backgroundBlue {
  background: #2979ff;
}

.backgroundLight {
  background: #f3f3f3;
}

.delete-chat-message {
  cursor: pointer;
}

/* Input */

.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
  max-height: 60px;
}

.input {
  border: none;
  border-radius: 0;
  padding: 16px 0 16px 16px; /* was 5% */
  width: 80%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Ariel, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.send-button {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleted-message * {
  text-decoration: line-through;
  color: red;
}
