.design {
  margin: 10px 4%;
}

.email-editor-container {
  background: #fff;
  margin: 30px 50px;
  overflow: scroll;
  height: calc(100vh - 60px);
}

#topButtons {
  display: flex;
  margin-bottom: 3rem;
}

#testEmail {
  margin-left: 0rem;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 0;
}

#status {
  margin-left: auto !important;
  margin-right: 1rem;
  align-self: flex-end;
}

#save {
  align-self: flex-end;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#cancelBar {
  height: 35px;
  display: flex;
}

#cancelIcon {
  align-self: flex-end;
  margin-right: 1.5%;
  margin-left: auto !important;
  cursor: pointer;
}

#emailInputs {
  margin: 3%;
}

.inputDiv {
  border-bottom: 1px solid rgb(200, 200, 200);
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
}

#emailLabel {
  width: auto;
  text-align: left;
  margin-right: 0.5em;
  vertical-align: middle;
  margin-top: 0em;
  margin-bottom: 0em;
  display: flex;
  border: 0px solid;
  padding: 0;
  height: 20px;
  font-family: Helvetica, Ariel, sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

.emailInput {
  width: 100%;
  display: flex;
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  color: black;
  font-family: Helvetica, Ariel, sans-serif;
  font-size: 14px;
  padding: 0;
  margin-top: 0em;
  margin-bottom: 0em;
}

textarea:focus,
input:focus {
  outline: none;
}

select {
  max-width: 30%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.75em;
}

#toSelect {
  width: 75%;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#editEmailList {
  margin-left: 1rem;
  display: flex;
  align-items: top;
  margin-top: 0;
  margin-bottom: 0em;
  padding-top: 0;
  padding-bottom: 0;
  float: right;
}

form {
  width: 100%;
}

#toForm {
  width: auto;
}

/*Email List*/
#emailListHeader {
  display: flex;
  margin: 2rem;
}

#emailListTitle {
  margin-left: 0rem;
  align-self: flex-end;
}

#uploadCSV {
  align-self: flex-end;
  margin-left: auto !important;
  margin-right: 0px;
}

/*Test Email*/
#testEmailModal {
  margin: 3rem;
}
